@font-face {
    font-family: 'Sen-Bold';
    src: url('/fonts/Sen-Bold.ttf.woff');
    font-family: 'Sen-Bold';
}

@font-face {
    font-family: 'Sen-Regular';
    src: url('/fonts/Sen-Regular.ttf.woff');
    font-family: 'Sen-Regular';
}

* {
    font-family: Sen-Regular;
}

h1,
h2 {
    font-family: Sen-Bold;
}

footer {
    margin-top: 2rem;
}

.md-typeset .note > .admonition-title {
    background-color: var(--accent-font-dark);
}

.md-typeset .note > .admonition-title::before {
    background-color: var(--main-font);
}

.md-typeset .admonition.note {
    border-color: var(--accent-font-light);
}

[data-md-color-scheme="tubearchivist"] {
    --md-default-bg-color: var(--main-bg);
    --md-default-fg-color: var(--main-font);
    --md-primary-fg-color: var(--accent-font-dark);
    --md-primary-fg-color--dark: var(--highlight-bg);
    --md-default-fg-color--light: var(--accent-font-light);
    --md-default-fg-color--lighter: var(--accent-font-light);
    --md-typeset-color: var(--main-font);
    --md-typeset-a-color: var(--accent-font-dark);
    --md-code-bg-color: var(--highlight-bg);
    --md-code-fg-color: var(--accent-font-light);
    --md-accent-fg-color: var(--accent-font-light);
    --md-admonition-bg-color: var(--highlight-bg);
    --md-admonition-fg-color: var(--main-font);
    --md-footer-bg-color: var(--highlight-bg);
}

:root {
    --main-bg: #00202f;
    --highlight-bg: #00293b;
    --highlight-error: #990202;
    --highlight-error-light: #c44343;
    --highlight-bg-transparent: #00293baf;
    --main-font: #eeeeee;
    --accent-font-dark: #259485;
    --accent-font-light: #97d4c8;
    --img-filter: invert(50%) sepia(9%) saturate(2940%) hue-rotate(122deg) brightness(94%) contrast(90%);
    --img-filter-error: invert(16%) sepia(60%) saturate(3717%) hue-rotate(349deg) brightness(86%) contrast(120%);
}
