@font-face {
    font-family: 'Sen-Bold';
    src: url('/fonts/Sen-Bold.ttf.woff');
    font-family: 'Sen-Bold';
}

@font-face {
    font-family: 'Sen-Regular';
    src: url('/fonts/Sen-Regular.ttf.woff');
    font-family: 'Sen-Regular';
}

p, a, span, h3 {
    font-family: Sen-Regular;
}

code span {
    font-family: monospace;
}

h1,
h2,
strong {
    font-family: Sen-Bold;
}

footer {
    margin-top: 2rem;
}

.md-typeset .note > .admonition-title {
    background-color: var(--accent-font-dark);
}

.md-typeset .note > .admonition-title::before {
    background-color: var(--main-font);
}

.md-typeset .admonition.note {
    border-color: var(--accent-font-light);
}

.md-typeset table::not {
    border-color: .075rem solid #448aff;
    border-radius: 0.2rem;
}

.md-typeset tr::hover {
    background-color: var(--md-admonition-bg-color);
}

.md-typeset td::not {
    border-top: .05rem solid white;
}

.highlight .nv {
    color: var(--highlight-error-light);
}

[data-md-color-scheme="tubearchivist"] {
    --md-default-bg-color: var(--main-bg);
    --md-default-fg-color: var(--main-font);
    --md-primary-fg-color: var(--accent-font-dark);
    --md-primary-fg-color--dark: var(--highlight-bg);
    --md-default-fg-color--light: var(--accent-font-light);
    --md-default-fg-color--lighter: var(--accent-font-light);
    --md-typeset-color: var(--main-font);
    --md-typeset-a-color: var(--accent-font-dark);
    --md-code-bg-color: var(--highlight-bg);
    --md-code-fg-color: var(--accent-font-light);
    --md-accent-fg-color: var(--accent-font-light);
    --md-admonition-bg-color: var(--highlight-bg);
    --md-admonition-fg-color: var(--main-font);
    --md-footer-bg-color: var(--highlight-bg);
    --md-code-hl-punctuation-color: var(--main-font);
    --md-code-hl-name-color: var(--accent-font-light);
    --md-code-hl-string-color: var(--accent-font-dark);
    --md-code-hl-number-color: var(--highlight-error-light);
    --md-code-hl-operator-color: var(--highlight-error);
    --md-code-nv-color: var(--highlight-error);
    --md-code-hl-comment-color: var(--secondary-font);
    --md-typeset-table-color: var(--main-font);
}

:root {
    --main-bg: #00202f;
    --highlight-bg: #00293b;
    --highlight-error: #990202;
    --highlight-error-light: #c44343;
    --highlight-bg-transparent: #00293baf;
    --main-font: #eeeeee;
    --secondary-font: #858585;
    --accent-font-dark: #259485;
    --accent-font-light: #97d4c8;
    --img-filter: invert(50%) sepia(9%) saturate(2940%) hue-rotate(122deg) brightness(94%) contrast(90%);
    --img-filter-error: invert(16%) sepia(60%) saturate(3717%) hue-rotate(349deg) brightness(86%) contrast(120%);
}
